<div mat-dialog-content class="mat-typography">
  <h2 style="text-align: center;">Registar Datalles del Servicio</h2>
  <form class="row g-3">
  <br>
    <div class="col-12">  <!--imprime una nueva linea¡? -->
    </div>

    <div class="col-md-6">
      <label  for="numOrden" class="form-label">Número Orden </label>
      <p><b><strong><h1>{{data.numeroOrden}}</h1></strong></b></p>
    </div>

    <div class="col-md-6">
      <label class="form-label">Estado físico </label>
      <input type="email"  #estadoFisico="ngModel" name="estadoFisico" [(ngModel)]="servicio.estadoFisico" class="form-control" id="estadoFisico" placeholder="Estado físico">
    </div>

    <div class="col-md-6">
      <label class="form-label">Responsable del servicio </label>
      <input type="email" #quienEjecuta="ngModel" name="quienEjecuta" [(ngModel)]="servicio.quienEjecuta" class="form-control" id="quienEjecuta" placeholder="Responsable del servicio ">
      <br>
    </div>

    <div class="col-md-6">
      <label class="form-label">Estado funcional </label>
      <input type="email"  #estadoFuncional="ngModel" name="estadoFuncional" [(ngModel)]="servicio.estadoFuncional" class="form-control" id="estadoFuncional" placeholder="Estado funcional ">
    </div>


    <div class="col-md-6">
      <label class="form-label">Observaciones</label>
      <input type="email"  #observaciones="ngModel" name="observaciones" [(ngModel)]="servicio.observaciones" class="form-control" id="observaciones" placeholder="Observaciones">
    </div>

    <div class="col-md-6">
        <h3>¿Estado del servicio?</h3>
        <label>
          <input #estadoServicio1="ngModel" name="estadoServicio1" [(ngModel)]="servicio.estado" class="add-bottom-padding" name="group1" type="radio" value="Sin Iniciar" checked />
          <span>Sin Iniciar</span>
        </label>
        <label>
          <input #estadoServicio2="ngModel" name="estadoServicio2" [(ngModel)]="servicio.estado" class="add-bottom-padding" name="group1" type="radio" value="En proceso" />
          <span style="margin-left: 40px;">En proceso</span>
        </label>
        <label>
          <input #estadoServicio3="ngModel" name="estadoServicio3" [(ngModel)]="servicio.estado" name="group1" type="radio" value="Terminado" />
          <span style="margin-left: 40px;">Terminado</span>
        </label>
    </div>

    <br>
    <div class="col-12">
      <button style=" margin: 50px 0 0 0;" type="submit" (click)=onGuardar()  class="btn btn-primary">Guardar</button>
      <button style="float: right;  margin: 50px 0 0 0;" type="submit" (click)=onCancelar() class="btn btn-primary">Cancelar</button>
<!--
      <div mat-dialog-actions>
        <button mat-button mat-dialog-clos (click)="onNoClick()"> Cancelar</button>
        <button mat-button mat-dialog-clos cdkFocusInitial>Guardar</button>
      </div> -->

    </div>
  </form>
</div>


<!-- <h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
<p>What's your favorite animal?</p>

</div>
<div mat-dialog-actions>
<button mat-button (click)="onNoClick()">No Thanks</button>
</div> -->


<!-- Copyright 2020 Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license -->
