<h2 style="text-align: center;">Stock de Equipos</h2>

<table mat-table [dataSource]="equipos" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="posicion">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let equipo of equipos"> {{equipos.indexOf(equipo) +1 }} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre  </th>
    <td mat-cell *matCellDef="let equipo of equipos"> {{equipo.nombre}} </td>
  </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="serial">
      <th mat-header-cell *matHeaderCellDef> N° Serial  </th>
      <td mat-cell *matCellDef="let equipo of equipos"> {{equipo.serial}} </td>
    </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="marca">
    <th mat-header-cell *matHeaderCellDef> Marca </th>
    <td mat-cell *matCellDef="let equipo of equipos"> {{equipo.marca}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="modelo">
    <th mat-header-cell *matHeaderCellDef> Modelo  </th>
    <td mat-cell *matCellDef="let equipo of equipos"> {{equipo.modelo}}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="cant_disponible">
    <th mat-header-cell *matHeaderCellDef> Cant. disponible </th>
    <td mat-cell *matCellDef="let equipo of equipos"> {{equipo.cantidad_quipos}}</td>
  </ng-container>


    <!-- Weight Column -->
    <ng-container matColumnDef="garantia">
      <th mat-header-cell *matHeaderCellDef> Garantía </th>
      <td mat-cell *matCellDef="let equipo of equipos"> {{equipo.garantia}}</td>
    </ng-container>

      <!-- Weight Column -->
  <ng-container matColumnDef="registro_invima">
    <th mat-header-cell *matHeaderCellDef> Reg Invima </th>
    <td mat-cell *matCellDef="let equipo of equipos"> {{equipo.registro_invima}}</td>
  </ng-container>

      <!-- Weight Column -->
  <ng-container matColumnDef="vencimiento_invima">
    <th mat-header-cell *matHeaderCellDef> Fecha vcto R_Invima </th>
    <td mat-cell *matCellDef="let equipo of equipos"> {{equipo.vencimiento_invima}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

