<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
            <h2>Registrar usuario</h2>
            <form #registerForm="ngForm" (ngSubmit)="onRegistrase()">
                <div class="form-group">
                    <label for="username">Nombre</label>
                    <input type="email" #username="ngModel" name="username" [(ngModel)]="user.nombre" class="form-control" id="username">

                </div>
                <div class="form-group">
                    <label for="lastName">Apellido</label>
                    <input type="email" #lastName="ngModel" name="lastName" [(ngModel)]="user.apellido" class="form-control" id="lastName">

                </div>
                <div class="form-group">
                    <label for="email">Correo</label>
                    <input type="email" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control" id="email">

                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" #password="ngModel" name="password" [(ngModel)]="user.password" class="form-control" id="password">


                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Registrarse</button>
                    <button style="float: right;" routerLink="/login" class="btn btn-primary">Cancel</button>
                </div>
            </form>
           </div>
      </div>
  </div>
</div>
